.game_area {
    position: relative;
    padding: 10px;
    border: #008CBA solid 2px;
    border-radius: 5px;
    /*margin-top: 20px;*/
    margin: 30px auto;
    /*width: 100%;*/
    width: 600px;
    height: 600px;
}

.level {
    margin: 0 5px 5px 5px;
    width: 10%;
    text-align: center;
    float: left;
}

.level h6{
    margin-top: 10px;
}

.button_next_level {
    margin-top: 10px;
    padding: 5px;
}

.snake_dot {
    position: absolute;
    width: 2%;
    height: 2%;
    background-color: #bb5252;
    border: 1px solid white;
    z-index: 2;
}

.snake_point {
    position: absolute;
    width: 2%;
    height: 2%;
    background-color: #3a803a;
    border: 1px solid white;
    z-index: 1;
}

.snake_barrier {
    position: absolute;
    width: 2%;
    height: 2%;
    background-color: #282828;
    border: 1px solid white;
    z-index: 2;
}