#game {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.game_area {
    position: relative;
    background: #FFFFFF;
    padding: 10px;
    border: 3px solid #0038B8;
    margin: 20px;
    min-width: 750px;
    min-height: 750px;
}

.block_right {
    margin-top: 20px;
    min-width: 15%;
    text-align: center;
}

.block_left {
    margin-top: 20px;
    min-width: 15%;
    text-align: center;
}

.level h6{
    margin-top: 10px;
}

.button_next_level {
    margin-top: 50px;
    padding: 5px;
}

.snake_dot {
    position: absolute;
    width: 2%;
    height: 2%;
    z-index: 2;
}

.snake_point {
    position: absolute;
    width: 2%;
    height: 2%;
    border-radius: 50%;
    z-index: 1;
}

.snake_barrier {
    position: absolute;
    width: 2%;
    height: 2%;
    background-color: #0038B8;
    z-index: 2;
}