.nav {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.menuAndLogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .menuAndLogo .logo {
    height: 40px;
    width: 50px;
}

.nav .menuAndLogo .menu {
    margin-left: 100px;
}

.home {
    margin-top: 150px;
    text-align: center;
}

.box_two h1 {
    margin-bottom: 50px;
}

td {
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.home_group {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.play_group {
    margin-top: 50px;
    display: flex;
}

.box_one {
    margin: 100px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box_two {
    margin: 0 20px;
    padding: 40px;
    border: #008CBA solid 2px;
    border-radius: 15px 50px;
}

.button_nav {
    margin-left: 20px;
}

.button_finish {
    margin: 50px 30px;
}

.button_tutorial_autorization_play {
    margin-top: 50px;
}

.button_small {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    border-radius: 8px;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button_big {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    border-radius: 8px;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #008CBA;
    color: white;
}

.input_form {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #008CBA;
    border-radius: 4px;
}

.showplace {
    border-radius: 15px;;
    margin-bottom: 5px;
    height: 80px;
    width: 80px;
}

#formChangeSnakeColor {
    margin-top: 30px;
}

#changeSnakeColor {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #008CBA;
}

#pointsCabinet {
    margin-top: 30px;
}

.button_cabinet {
    margin-left: 20px;
}

#card {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    text-align: center;
    border: #008CBA solid 2px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.cardImage {
    border-radius: 15px;;
    width: 50%;
}

.cardText {
    text-align: left;
    width: 50%;
}

.bonusCard {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}

.black {
    background-color: black;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}